@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root{
    --cor-preto: #000000;
    --cor-azul: #A4CEF4;
    --cor-azul-claro: #BFECF5;
    --cor-cinza: #E5E5E5;
    --cor-azul-escuro: #010F50;
    --cor-branco: #FFFFFF;

    --borda: 1px solid var(--cor-azul-escuro);
    --borda-arredondada: 6px;

    --tamanho-fonte-lg: 20px;
    --tamanho-fonte-md: 16px;
    --tamanho-fonte-sm: 14px;

}

/* SELETOR GLOBAL */
*{
    font-family: "Inria Sans", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    outline: var(--cor-azul);
}

body{
      color: var(--cor-preto);
}

h1{
    position: absolute;
    z-index: -1;
    opacity: 0;
}

/*formulario*/

.estilo-formulario{
    border: var(--borda);
    width: 100%;
    background-color: var(--cor-branco);
}
input{
    width: 100%;
    height: 35px;
    border: var(--borda);
    background-color: var(--cor-branco);
}

.formulario-botao-azul{
    background-color: var(--cor-azul-escuro);
    border-radius: var(--borda-arredondada);
    border: none;
    height: 35px;
    color: var(--cor-branco);
    font-size: var(--tamanho-fonte-sm);
    font-weight: 600;
}

#campo-upload{
    display: none;
}

input[type="file"] {
    display: none;
}

#texto-upload{
    background-color: #A4CEF4;
    display: inline-block;
    width: 100%;
    max-width: 300px;
    min-height: 35px;
    padding: 5px;
    background: var(--cor-cinza);
    color: var(--cor-preto);
    font-weight: 600;
    border-radius: var(--borda-arredondada);
    color: var(--cor-preto);
    cursor: pointer;
    transition: background 0.3s ease;
    text-align: center;

}

/*cabeçalho*/
#cabeçalho{
    width: 100%;
    height: 80px;
    background-color: var(--cor-branco);
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    border-bottom: var(--borda) ;
}

#cabeçalho > nav{
    
    width: 85%;
    max-width: 1440px;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center ;
}

.cabecalho-acoes{

    display: flex;
    align-items: center;
    gap: 15px;
}

#logo-mobile{
    display: none;
}

.cabecalho-acoes > a{
    display: flex;
    align-items: center;
}

.foto-perfil{
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    object-fit: cover;

}

/*RESPONSIVO*/
@media only screen and (max-width: 485px){
    #logo-mobile{
        display: initial;
    }

    #logo-desktop{
        display: none;
    }
}

